*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(back.png);
    backdrop-filter: brightness(0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #384d3d6b;
    padding: 10px 20px;
    /* height: 15px; */
    /* margin-top: 0px; */
    height: 52px;
    margin-top: 0px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    background: none;
    color: #fff;
    cursor: pointer;
    border: none;
    position: relative;
    /* font-size: 10px; */
    font-size: 18px;
}

.nav-links a:hover{ 
    color: #31793d;
    transition: 0.2s;
}

.nav-links a::after{
    content: "";
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #31793d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0%;
}
/*
.nav-links a::after{
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -2px;
    background: #31793d;
    height: 1.5px;
    transition: 0.3s ease-out;  

}
.nav-links a:hover::after {
    width: 100%;

    /* color: #cedfb3ec; Change color on hover */
    /* transition: 0.3s; 
}*/

.logo img {
    /* height: 23px; Adjust based on your logo size */
    /* height: 19px; */
    /* margin-top: 5px; */
    /* height: 31px; */
    margin-top: 6px;
    height: 48px;


}



.content {
    display: block;
    justify-content: center;
    text-align: center; /* Center text inside the content */
    background: none; /* White background for the content */
    /* padding: 20px; Add some padding */
    /* margin-top: 130px; */
    padding: 102px;
    margin-top: 217px;
    border-radius: 8px; /* Rounded corners */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); Subtle shadow */
}

h1 {
    color: rgb(253, 253, 253);
    /* font-size: 20px; */
    font-size: 40px;

    text-align: center;
}

h1 span{
    color: #11b52e;
}

p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    /* font-size: 12px; */

    /* margin-right: 101px; */
    margin-right: -18px;
    text-wrap-style: balance;
}
p strong{
    color: #11b52e;
    font-size: 20px;
}

.buttons {
    margin-top: 20px;
     /* Space above the buttons */
}

.btn {
    background-color: #45a04975; /* Darker green on hover */
    color: white; /* White text */
    border:   none; /*No border*/
    padding: 10px 20px 10px 20px; /* Padding for the button */
    margin: 5px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 20px; /* Increase font size */
}
.btn:hover {
    background-color: #4caf4fe3; /* Green background */
    transition: .4s;
}